<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-item>
  <img src="{{pathForImage(lastImage)}}" style="width: 100%" [hidden]="lastImage === null">
  <h3 [hidden]="lastImage !== null" class="error">Please Select Image!</h3>
</ion-item>
{{pathForImage(lastImage)}}
<ion-row>
  <ion-col color="primary">
    <ion-buttons>
      <button ion-button icon-left full (click)="presentActionSheet()">
        <ion-icon name="camera"></ion-icon>Select Image
      </button>

    </ion-buttons>
  </ion-col>
</ion-row>
</ion-content>